<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ping Pong</title>
</head>

<body>
  <button id="pingButton">Ping</button>
  <p id="response"></p>

  <script>
    document.getElementById("pingButton").addEventListener("click", function () {
      fetch('/ping/')
        .then(response => response.json())
        .then(data => {
          document.getElementById("response").textContent = data.message;
        });
    });
  </script>
</body>

</html>
